<div class="modal" id="crop-modal">
  <div class="column is-full-mobile is-three-quarters-tablet">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="field" id="cropbox" style="display: none">
        <img src="" alt="" id="edit" />
      </div>
      <div class="field is-grouped">
        <p class="control">
          <a class="button is-dark" href="#" id="crop">crop</a>
        </p>
        <p class="control">
          <a class="button" href="#" id="cancel">cancel</a>
        </p>
      </div>
    </div>
  </div>
</div>
