<% if(success && success.length) { %>
<div class="notification is-success is-light">
  <button class="delete"></button>
  <%= success %>
</div>
<% } %> <% if(error && error.length) { %>
<div class="notification is-success is-light">
  <button class="delete"></button>
  <%= error %>
</div>
<% } %>