<div class="navigation has-background-white">
  <div class="logo">
    <a href="/posts">
      <!-- <span class="icon"><i class="fas fa-home"></i></span> -->
      <img src="/assets/logo.png" alt="" width="40" height="20" />
      <!-- <span class="navnames ml-0">Posts</span> -->
    </a>
  </div>

  <div class="navigation-icons">
    <a href="#" class="navigation-link" id="btn-modal-search">
      <span class="icon">
        <i class="fas fa-search"></i>
      </span>
      <span class="navnames">Search</span>
    </a>
    <!-- <a href="/contacts" class="navigation-link">
      <span class="icon"><i class="fas fa-envelope"></i></span>
      <span class="navnames">Contact Us</span>
    </a> -->
    <a href="/posts/new" class="navigation-link">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span class="navnames">Post</span>
    </a>
    <% if(user) { %>
    <a href="/user/notifications" class="navigation-link">
      <span class="icon" style="font-size: large">
        <%const l = user.notifications.length;%><%if(l === 0){%><i
          class="fas fa-bell"
          id="nfs-icon"
        ></i>
        <%}else if(user.notifications[l-1].read === false){%>
        <i class="fas fa-bell" style="color: red !important" id="nfs-icon"></i>
        <%}else{%><i class="fas fa-bell" id="nfs-icon"></i>
        <%}%>
      </span>
      <span class="navnames">Notifications</span>
    </a>
    <div class="navigation-link ml-3">
      <div class="dropdown is-right" id="user-dropdownmenu">
        <div
          class="dropdown-trigger"
          id="user-dropdownbtn"
          style="cursor: pointer"
        >
          <figure class="image is-32x32">
            <img
              class="is-rounded"
              src="<%=user.profile.avatar.url%>"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="dropdown-menu" id="dropdown-menu57" role="menu">
          <div class="dropdown-content">
            <a href="/user/profile" class="dropdown-item">
              <p>
                <span class="icon mr-2"><i class="fas fa-user-circle"></i></span
                ><span style="color: #363636; font-size: 1rem"
                  ><%=user.username%></span
                >
              </p>
            </a>
            <a href="/contacts" class="dropdown-item">
              <p>
                <span class="icon mr-2"><i class="fas fa-envelope"></i></span>
                <span style="color: #363636; font-size: 1rem">contact PS</span>
              </p>
            </a>
            <!-- <a href="/user/logout" id="signout" class="dropdown-item">
              <p>
                <span class="icon mr-2"
                  ><i class="fas fa-sign-out-alt"></i
                ></span>
                <span style="color: #363636; font-size: 1rem">Log Out</span>
              </p>
            </a> -->
            <div class="dropdown-item" id="logout-btn">
              <p>
                <span class="icon mr-2"
                  ><i class="fas fa-sign-out-alt"></i
                ></span>
                <span style="color: #363636; font-size: 1rem">Log Out</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </div>
</div>

