<div class="navigation has-background-white">
  <div class="logo">
    <a href="/posts">
      <span class="icon"><i class="fas fa-home"></i></span>
      <span class="navnames ml-0">Posts</span>
    </a>
  </div>

  <div class="navigation-icons">
    <a href="/contacts" class="navigation-link mx-3">
      <span class="icon">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="navnames">Contact Us</span>
    </a>
    <a href="#" class="navigation-link mx-3" id="btn-modal">
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span class="navnames">Post</span>
    </a>
    <% if(user) { %>
    <a href="/user/profile" class="navigation-link mx-3">
      <span class="icon"><i class="fas fa-user-circle"></i></span>
      <span class="navnames"><%=user.username%></span>
    </a>

    <a href="/user/profile/<%=user.username%>/nfs" class="navigation-link mx-3">
      <span class="icon" style="font-size: large">
        <%const l = user.nfs.length;%><%if(l === 0){%><i
          class="fas fa-bell"
        ></i>
        <%}else if(user.nfs[l-1].read === false){%>
        <i class="fas fa-bell" style="color: red !important"></i>
        <%}else{%><i class="fas fa-bell"></i>
        <%}%>
      </span>
      <span class="navnames">notifications</span>
    </a>

    <a href="/user/logout" id="signout" class="navigation-link mx-3">
      <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
      <span class="navnames">Log Out</span>
    </a>
    <%}%>
  </div>
</div>
