<footer
  class="footer py-3 has-background-white has-text-black"
  style="margin-top: auto"
>
  <div class="content has-text-centered">
    <span class="footer-icon">&copy; ğ“¹ğ“¢ Post-Share</span>
  </div>
</footer>
