<footer class="footer py-3 has-background-dark has-text-white" style="margin-top: auto">
  <div class="content has-text-centered">
    <span class="text-muted">&copy; ğ“¹ğ“¢ Post-Share</span>
  </div>
</footer>
