<div class="modal" id="logout-modal">
  <div class="modal-background"></div>
  <div
    class="modal-content"
    style="
      background: white;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: fit-content;
    "
  >
    <div class="box" style="margin: 0 auto">
      <p>are you sure you want to logout?</p>
      <div class="buttons has-addons is-centered">
        <a href="/user/logout"
          ><button class="button is-warning">Yes</button></a
        >
        <button class="button" id="close-logout">No</button>
      </div>
    </div>
  </div>
</div>
