<div class="modal" style="padding-top: 10vh" id="new-modal">
  <div class="columns is-mobile is-centered">
    <div class="column is-full-mobile is-three-quarters-tablet">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title is-size-5-mobile">CREATE A NEW POST</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <form action="/posts" method="POST" enctype="multipart/form-data">
            <div class="field">
              <label for="title" class="label">Title</label>
              <div class="control has-icons-right">
                <input
                  class="input"
                  type="text"
                  id="title"
                  name="post[title]"
                  placeholder="ğ“‰ğ’¾ğ“‰ğ“ğ‘’.."
                />
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-check"
                    id="titleSuccessIcon"
                    style="display: none"
                  ></i>
                </span>
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-exclamation-triangle"
                    id="titleErrorIcon"
                    style="display: none"
                  ></i>
                </span>
                <p
                  id="title_error"
                  class="help is-error"
                  style="
                    display: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: medium;
                  "
                >
                  Give a nice title to your post
                </p>
              </div>
            </div>
            <div class="field">
              <div id="file-js-example" class="file has-name is-fullwidth">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="image"
                    placeholder="ğ’¸ğ’½ğ‘œğ‘œğ“ˆğ‘’ ğ’¾ğ“‚ğ’¶ğ‘”ğ‘’(ğ“ˆ).."
                    multiple
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> ğ’·ğ“‡ğ‘œğ“Œğ“ˆğ‘’ </span>
                  </span>
                  <span
                    class="file-name"
                    style="font-weight: 100; color: lightgray"
                  >
                    ğ’¸ğ’½ğ‘œğ‘œğ“ˆğ‘’ ğ’¾ğ“‚ğ’¶ğ‘”ğ‘’(ğ“ˆ)..
                  </span>
                </label>
              </div>
            </div>
            <div class="field" id="new-body">
              <label for="body" class="label">Body</label>
              <div class="control has-icons-right">
                <textarea
                  class="textarea new-area"
                  rows="5"
                  id="body"
                  name="post[body]"
                  placeholder="ğ’¶ ğ“ƒğ’¾ğ’¸ğ‘’ ğ“…ğ‘œğ“ˆğ“‰ ğ“ƒğ‘’ğ‘’ğ’¹ğ“ˆ ğ’¶ ğ“ƒğ’¾ğ’¸ğ‘’ ğ’¹ğ‘’ğ“ˆğ’¸ğ“‡ğ’¾ğ“…ğ“‰ğ’¾ğ‘œğ“ƒ.."
                ></textarea>
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-check"
                    id="bodySuccessIcon"
                    style="display: none"
                  ></i>
                </span>
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-exclamation-triangle"
                    id="bodyErrorIcon"
                    style="display: none"
                  ></i>
                </span>
                <p
                  id="body_error"
                  class="help is-error"
                  style="
                    display: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: medium;
                  "
                >
                  a post without body is nonsense
                </p>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button is-primary is-fullwidth"
                  id="newpost"
                  type="submit"
                  disabled="true"
                >
                  ADD
                </button>
              </div>
            </div>
          </form>
        </section>
        <footer class="modal-card-foot"></footer>
      </div>
    </div>
  </div>
</div>
