<div class="modal" style="padding-top: 10vh" id="new-modal">
  <div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-three-quarters-tablet">
      <div class="modal-background"></div>
      <div
        class="modal-card"
        style="
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        "
      >
        <section class="modal-card-body">
          <form id="post-form" action="/posts" method="POST" enctype="multipart/form-data">
            <div class="field">
              <div class="control has-icons-right">
                <input
                  class="input"
                  type="text"
                  id="title"
                  name="post[title]"
                  placeholder="Title"
                />
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-check"
                    id="titleSuccessIcon"
                    style="display: none"
                  ></i>
                </span>
                <span class="icon is-small is-right">
                  <i
                    class="fas fa-exclamation-triangle"
                    id="titleErrorIcon"
                    style="display: none"
                  ></i>
                </span>
                <p
                  id="title_error"
                  class="help is-error"
                  style="
                    display: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: medium;
                  "
                >
                  Give a nice title to your post
                </p>
              </div>
            </div>
            <div class="field">
              <div id="file-js-example" class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="image" multiple />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span
                      class="file-label"
                      style="
                        font-family: 'Open Sans', sans-serif;
                        color: rgba(0, 0, 0, 0.5);
                      "
                    >
                      Browse
                    </span>
                  </span>
                  <span
                    class="file-name"
                    style="
                      font-weight: 100;
                      color: lightgray;
                      font-family: 'Open Sans', sans-serif;
                      color: rgba(0, 0, 0, 0.5);
                    "
                  >
                    Choose a post
                  </span>
                </label>
              </div>
            </div>
            <div class="field" id="new-body">
              <!-- <label for="body" class="label">Body</label> -->
              <div class="control has-icons-right">
                <textarea
                  class="textarea new-area"
                  rows="2"
                  id="body"
                  name="post[body]"
                  placeholder="caption"
                ></textarea>
                <p
                  id="body_error"
                  class="help is-error"
                  style="
                    display: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: medium;
                  "
                >
                  give a caption..
                </p>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button is-dark is-fullwidth"
                  id="newpost"
                  type="submit"
                  disabled="true"
                >
                  Post
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
