<% layout('layout/boilerplate') -%>
<!-- <div class="pageloader is-light"><span class="title">Loading...</span></div> -->

<div class="first mb-5" style="min-height: 100vh">
  <div class="columns is-mobile is-centered mb-5">
    <div class="column is-two-fifths">
      <div class="container is-clipped" id="carousel">
        <div id="slider" class="slider">
          <div class="card card-1">
            <div class="card-image" style="max-height: 100%">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1517783755800-0344536f0ec5?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDh8NnNNVmpUTFNrZVF8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt=""
                />
              </figure>
            </div>
          </div>
          <div class="card card-1">
            <div class="card-image" style="max-height: 100%">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1617643049820-f072111ac920?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fDZzTVZqVExTa2VRfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-fifths">
      <div class="card" style="box-shadow: none">
        <div class="card-content has-text-centered">
          <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
            Post-Share
          </p>
          <br />
          <p class="subtitle">
            We help you to create your own profile and share your own world with
            us
          </p>
        </div>
        <div class="card mb-5 card-2">
          <div class="card-image" style="max-height: 100%">
            <figure class="image is-3by3">
              <img
                src="https://images.unsplash.com/photo-1530789253388-582c481c54b0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8dHJhdmVsfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                alt=""
              />
            </figure>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Flying With Them</p>
                <p class="subtitle is-6"></p>
              </div>
            </div>
          </div>
          <header
            class="card-header"
            id="show-header"
            style="box-shadow: none; font-size: 1em"
          >
            <div class="card-header-title">
              <figure class="image is-48x48 mr-2">
                <img
                  class="is-rounded"
                  src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                  alt=""
                />
              </figure>
              <div class="div">
                <p
                  class="title"
                  style="
                    font-size: 15px;
                    font-family: 'Open Sans', sans-serif;
                    margin-bottom: 0;
                  "
                >
                  @somenisco
                </p>
                <p
                  class="subtitle"
                  style="
                    font-size: 14px;
                    font-family: 'Open Sans', sans-serif;
                    margin-top: 0;
                  "
                ></p>
              </div>
            </div>
            <div class="card-header-icon" id="show-icons">
              <p>
                <span class="is-6">108</span>
              </p>
              <div class="control">
                <button>
                  <i class="fas fa-heart" id=""></i>
                </button>
              </div>
              <p>
                <span class="comments-count is-6">46</span>
              </p>
              <div class="control">
                <a href="#"
                  ><button><i class="far fa-comment-alt"></i></button
                ></a>
              </div>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered">
    <div class="column is-two-fifths">
      <div class="card card-3">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Flying With Them</p>
              <p class="subtitle is-6"></p>
            </div>
          </div>
        </div>
        <header
          class="card-header"
          id="show-header"
          style="box-shadow: none; font-size: 1em"
        >
          <div class="card-header-title">
            <figure class="image is-48x48 mr-2">
              <img
                class="is-rounded"
                src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                alt=""
              />
            </figure>
            <div class="div">
              <p
                class="title"
                style="
                  font-size: 15px;
                  font-family: 'Open Sans', sans-serif;
                  margin-bottom: 0;
                "
              >
                @somenisco
              </p>
              <p
                class="subtitle"
                style="
                  font-size: 14px;
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 0;
                "
              ></p>
            </div>
          </div>
          <div class="card-header-icon" id="show-icons">
            <p>
              <span class="is-6">76</span>
            </p>
            <div class="control">
              <button>
                <i class="fas fa-heart" id=""></i>
              </button>
            </div>
            <p>
              <span class="comments-count is-6">26</span>
            </p>
            <div class="control">
              <a href="#"
                ><button><i class="far fa-comment-alt"></i></button
              ></a>
            </div>
          </div>
        </header>
      </div>
    </div>
    <div class="column is-three-fifths">
      <div class="card mb-5 card-4">
        <div class="container is-clipped" id="carousel">
          <div id="slider" class="slider">
            <div class="card">
              <div class="card-image" style="max-height: 100%">
                <figure class="image">
                  <img
                    src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzF8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt=""
                  />
                </figure>
              </div>
            </div>
            <div class="card">
              <div class="card-image" style="max-height: 100%">
                <figure class="image">
                  <img
                    src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt=""
                  />
                </figure>
              </div>
            </div>
            <div class="card">
              <div class="card-image" style="max-height: 100%">
                <figure class="image">
                  <img
                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    alt=""
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Feel with me</p>
              <p class="subtitle is-6"></p>
            </div>
          </div>
        </div>
        <header
          class="card-header"
          id="show-header"
          style="box-shadow: none; font-size: 1em"
        >
          <div class="card-header-title">
            <figure class="image is-48x48 mr-2">
              <img
                class="is-rounded"
                src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                alt=""
              />
            </figure>
            <div class="div">
              <p
                class="title"
                style="
                  font-size: 15px;
                  font-family: 'Open Sans', sans-serif;
                  margin-bottom: 0;
                "
              >
                @somenisco
              </p>
              <p
                class="subtitle"
                style="
                  font-size: 14px;
                  font-family: 'Open Sans', sans-serif;
                  margin-top: 0;
                "
              ></p>
            </div>
          </div>
          <div class="card-header-icon" id="show-icons">
            <p>
              <span class="is-6">108</span>
            </p>
            <div class="control">
              <button>
                <i class="fas fa-heart" id=""></i>
              </button>
            </div>
            <p>
              <span class="comments-count is-6">46</span>
            </p>
            <div class="control">
              <a href="#"
                ><button><i class="far fa-comment-alt"></i></button
              ></a>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="columns is-mobile is-centered" style="height: 700px">
    <div
      class="column is-full"
      style="
        background: #e0eafc; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to right,
          #cfdef3,
          #e0eafc
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to right,
          #cfdef3,
          #e0eafc
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100%;
      "
    >
      <div
        class="container"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
        "
      >
        <div class="content has-text-centered">
          <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
            U can put anything here..
          </p>
        </div>
        <div
          class="type mr-3 about-icon icon-1"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 0.5px 3px #808080
          "
        >
          <div
            class="icon "
            style="
              width: 110px;
              height: 110px;
              border-radius: 50%;
              background-color: #fff;
              color: black;
              box-shadow: 3px 3px 6px #808080;
            "
          >
            <span class="icon"><i class="fas fa-font"></i></span>
          </div>
          <p class="subtitle">Text</p>
        </div>
        <div
          class="type mr-3 about-icon icon-2"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 0.5px 3px #808080
          "
        >
          <div
            class="icon "
            style="
              width: 110px;
              height: 110px;
              border-radius: 50%;
              background-color: #fff;
              color: black;
              box-shadow: 3px 3px 6px #808080;
            "
          >
            <span class="icon"><i class="fas fa-quote-right"></i></span>
          </div>
          <p class="subtitle">quote</p>
        </div>
        <div
          class="type mr-3 about-icon icon-3"
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 0.5px 3px #808080
          "
        >
          <div
            class="icon "
            style="
              width: 110px;
              height: 110px;
              border-radius: 50%;
              background-color: #fff;
              color: black;
              box-shadow: 3px 3px 6px #808080;
            "
          >
            <span class="icon"><i class="fas fa-images"></i></span>
          </div>
          <p class="subtitle">Images</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns is-mobile mb-5">
  <div class="column is-two-fifths">
    <div class="card">
      <div class="card-image" style="max-height: 100%">
        <figure class="image is-3by3">
          <img
            src="https://images.unsplash.com/photo-1578318099746-8701bb066ceb?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8ZGlzbmV5fGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Disney Life</p>
            <p class="subtitle is-6"></p>
          </div>
        </div>
      </div>
      <header
        class="card-header"
        id="show-header"
        style="box-shadow: none; font-size: 1em"
      >
        <div class="card-header-title">
          <figure class="image is-48x48 mr-2">
            <img
              class="is-rounded"
              src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
              alt=""
            />
          </figure>
          <div class="div">
            <p
              class="title"
              style="
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 0;
              "
            >
              @somenisco
            </p>
            <p
              class="subtitle"
              style="
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                margin-top: 0;
              "
            ></p>
          </div>
        </div>
        <div class="card-header-icon" id="show-icons">
          <p>
            <span class="is-6">108</span>
          </p>
          <div class="control">
            <button>
              <i class="fas fa-heart" id=""></i>
            </button>
          </div>
          <p>
            <span class="comments-count is-6">46</span>
          </p>
          <div class="control">
            <a href="#"
              ><button><i class="far fa-comment-alt"></i></button
            ></a>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div class="column is-three-fifths">
    <div class="card" style="box-shadow: none">
      <div class="card-content has-text-centered">
        <p class="title">c.out("Welcome");</p>
        <br />
        <p class="subtitle">
          We welcome u to our website. Here u can <strong>enjoy</strong> a lot.
        </p>
        <br />
        <p class="subtile">We are the developers..</p>
        <p class="subtitle">
          U can contact us for any issue through contact us
        </p>
        <p class="subtile">
          <strong><a href="/">Get started</a></strong> and take a ride with us
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <div class="card" style="border-radius: 30%">
          <div class="card-image">
            <figure class="image is-square">
              <img
                class="is-rounded"
                src="https://robohash.org/abhi?set=set5"
                alt=""
                style="border-radius: 50%"
              />
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p class="title">@senpai</p>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="card" style="border-radius: 30%">
          <div class="card-image">
            <figure class="image is-square">
              <img
                class="is-rounded"
                src="https://robohash.org/deba?set=set5"
                alt=""
                style="border-radius: 50%"
              />
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p class="title">@deba</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
