<!DOCTYPE html>
<html>
  <head>
    <title>Post-Share</title>
    <script
      src="https://kit.fontawesome.com/59ef493f57.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="/scripts/emojionearea.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-pageloader@0.3.0/dist/css/bulma-pageloader.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/emojionearea.min.css" />
    <link rel="stylesheet" href="/stylesheets/boiler.css" />
    <link rel="stylesheet" href="/stylesheets/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/fnav.css" />
    <link rel="stylesheet" href="/stylesheets/aboutus.css" />
  </head>

  <body
    class="has-navbar-fixed-top is-flex is-flex-direction-column is-size-6 is-size-7-mobile"
    style="min-height: 100vh"
  >
    <%-include('partials/newmodal')%> <%-include('partials/fnavbar')%>

    <div class="first mb-5" style="min-height: 100vh">
      <div class="columns is-mobile is-centered mb-5 mx-3">
        <div class="column is-two-fifths">
          <div class="container is-clipped" id="carousel" style="width: 70%">
            <div id="slider" class="slider">
              <div class="card card-1">
                <img
                  src="https://res.cloudinary.com/fancy/image/upload/c_fill,w_500,h_500/v1618769327/samples/blake-richard-verdoorn-cssvEZacHvQ-unsplash_eagsf2.jpg"
                  alt=""
                />
              </div>
              <div class="card card-1">
                <img
                  src="https://res.cloudinary.com/fancy/image/upload/c_fill,w_500,h_500/v1618769313/samples/shifaaz-shamoon-oR0uERTVyD0-unsplash_eidpty.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="card" style="box-shadow: none">
            <div class="card-content has-text-centered">
              <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
                Post-Share
              </p>
              <br />
              <p class="subtitle">
                You can share a carousel or a single post with us...
              </p>
            </div>
          </div>
        </div>
        <div class="column is-three-fifths">
          <div class="card" style="box-shadow: none">
            <div class="card-content has-text-centered">
              <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
                Post-Share
              </p>
              <br />
              <p class="subtitle">
                We help you to create your own profile and share your own world
                with us
              </p>
            </div>
            <div class="card mb-5 card-2" style="width: 70%; margin-left: 20%">
              <div class="card-image" style="max-height: 100%">
                <figure class="image">
                  <img
                    src="https://res.cloudinary.com/fancy/image/upload/c_fill,w_500,h_500/v1618769669/samples/kyle-hinkson-xyXcGADvAwE-unsplash_qewglf.jpg"
                    alt=""
                  />
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Flying With Them</p>
                    <p class="subtitle is-6"></p>
                  </div>
                </div>
              </div>
              <header
                class="card-header"
                id="show-header"
                style="box-shadow: none; font-size: 1em"
              >
                <div class="card-header-title">
                  <figure class="image is-48x48 mr-2">
                    <img
                      class="is-rounded"
                      src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                      alt=""
                    />
                  </figure>
                  <div class="div">
                    <p
                      class="title"
                      style="
                        font-size: 15px;
                        font-family: 'Open Sans', sans-serif;
                        margin-bottom: 0;
                      "
                    >
                      @somenisco
                    </p>
                    <p
                      class="subtitle"
                      style="
                        font-size: 14px;
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 0;
                      "
                    ></p>
                  </div>
                </div>
                <div class="card-header-icon" id="show-icons">
                  <p>
                    <span class="is-6">108</span>
                  </p>
                  <div class="control">
                    <button>
                      <i class="fas fa-heart" id=""></i>
                    </button>
                  </div>
                  <p>
                    <span class="comments-count is-6">46</span>
                  </p>
                  <div class="control">
                    <a href="#"
                      ><button><i class="far fa-comment-alt"></i></button
                    ></a>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-mobile is-centered">
        <div class="column is-two-fifths">
          <div class="card card-3" style="width: 70%; margin-left: 20%">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Flying With Them</p>
                  <p class="subtitle is-6"></p>
                </div>
              </div>
            </div>
            <header
              class="card-header"
              id="show-header"
              style="box-shadow: none; font-size: 1em"
            >
              <div class="card-header-title">
                <figure class="image is-48x48 mr-2">
                  <img
                    class="is-rounded"
                    src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                    alt=""
                  />
                </figure>
                <div class="div">
                  <p
                    class="title"
                    style="
                      font-size: 15px;
                      font-family: 'Open Sans', sans-serif;
                      margin-bottom: 0;
                    "
                  >
                    @somenisco
                  </p>
                  <p
                    class="subtitle"
                    style="
                      font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      margin-top: 0;
                    "
                  ></p>
                </div>
              </div>
              <div class="card-header-icon" id="show-icons">
                <p>
                  <span class="is-6">76</span>
                </p>
                <div class="control">
                  <button>
                    <i class="fas fa-heart" id=""></i>
                  </button>
                </div>
                <p>
                  <span class="comments-count is-6">26</span>
                </p>
                <div class="control">
                  <a href="#"
                    ><button><i class="far fa-comment-alt"></i></button
                  ></a>
                </div>
              </div>
            </header>
          </div>
        </div>
        <div class="column is-three-fifths">
          <div class="card mb-5 card-4" style="width: 70%; margin-left: 20%">
            <div class="container is-clipped" id="carousel">
              <div id="slider" class="slider">
                <div class="card">
                  <div class="card-image" style="max-height: 100%">
                    <figure class="image">
                      <img
                        src="https://images.unsplash.com/photo-1490077476659-095159692ab5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzF8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""
                        style="width: 500px; height: 500px"
                      />
                    </figure>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image" style="max-height: 100%">
                    <figure class="image">
                      <img
                        src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""
                        style="width: 500px; height: 500px"
                      />
                    </figure>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image" style="max-height: 100%">
                    <figure class="image">
                      <img
                        src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYXZlbHxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt=""
                        style="width: 500px; height: 500px"
                      />
                    </figure>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Feel with me</p>
                  <p class="subtitle is-6"></p>
                </div>
              </div>
            </div>
            <header
              class="card-header"
              id="show-header"
              style="box-shadow: none; font-size: 1em"
            >
              <div class="card-header-title">
                <figure class="image is-48x48 mr-2">
                  <img
                    class="is-rounded"
                    src="https://res.cloudinary.com/fancy/image/upload/w_48,h_48,c_fill,g_faces,r_max/v1617374348/samples/somen_unzclj.jpg"
                    alt=""
                  />
                </figure>
                <div class="div">
                  <p
                    class="title"
                    style="
                      font-size: 15px;
                      font-family: 'Open Sans', sans-serif;
                      margin-bottom: 0;
                    "
                  >
                    @somenisco
                  </p>
                  <p
                    class="subtitle"
                    style="
                      font-size: 14px;
                      font-family: 'Open Sans', sans-serif;
                      margin-top: 0;
                    "
                  ></p>
                </div>
              </div>
              <div class="card-header-icon" id="show-icons">
                <p>
                  <span class="is-6">108</span>
                </p>
                <div class="control">
                  <button>
                    <i class="fas fa-heart" id=""></i>
                  </button>
                </div>
                <p>
                  <span class="comments-count is-6">46</span>
                </p>
                <div class="control">
                  <a href="#"
                    ><button><i class="far fa-comment-alt"></i></button
                  ></a>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
    <div class="second" style="min-height: 100vh">
      <div class="columns is-mobile is-centered" style="height: 700px">
        <div
          class="column is-full"
          style="
            background: #e0eafc; /* fallback for old browsers */
            background: -webkit-linear-gradient(
              to right,
              #cfdef3,
              #e0eafc
            ); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(
              to right,
              #cfdef3,
              #e0eafc
            ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            height: 100%;
          "
        >
          <div
            class="container"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              top: 50%;
            "
          >
            <div class="content has-text-centered">
              <p class="title" style="text-shadow: 1px 0.5px 3px #808080">
                U can put anything here..
              </p>
            </div>
            <div
              class="type mr-3 about-icon icon-1"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 0.5px 3px #808080;
              "
            >
              <div
                class="icon"
                style="
                  width: 110px;
                  height: 110px;
                  border-radius: 50%;
                  background-color: #fff;
                  color: black;
                  box-shadow: 3px 3px 6px #808080;
                "
              >
                <span class="icon"><i class="fas fa-font"></i></span>
              </div>
              <p class="subtitle">Text</p>
            </div>
            <div
              class="type mr-3 about-icon icon-2"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 0.5px 3px #808080;
              "
            >
              <div
                class="icon"
                style="
                  width: 110px;
                  height: 110px;
                  border-radius: 50%;
                  background-color: #fff;
                  color: black;
                  box-shadow: 3px 3px 6px #808080;
                "
              >
                <span class="icon"><i class="fas fa-quote-right"></i></span>
              </div>
              <p class="subtitle">quote</p>
            </div>
            <div
              class="type mr-3 about-icon icon-3"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-shadow: 1px 0.5px 3px #808080;
              "
            >
              <div
                class="icon"
                style="
                  width: 110px;
                  height: 110px;
                  border-radius: 50%;
                  background-color: #fff;
                  color: black;
                  box-shadow: 3px 3px 6px #808080;
                "
              >
                <span class="icon"><i class="fas fa-images"></i></span>
              </div>
              <p class="subtitle">Images</p>
            </div>
          </div>
        </div>
      </div>
      <section class="hero is-halfheight mb-5">
        <div class="content has-text-centered mt-5">
          <p class="title">Developers</p>
        </div>
      </section>
    </div>
    <%-include('partials/footer')%>
    <script>
      if ($(".pageloader").length) {
        $(".pageloader").toggleClass("is-active");
        $(window).on("load", function () {
          var pageloadtime = setTimeout(function () {
            $(".pageloader").toggleClass("is-active");
            clearTimeout(pageloadtime);
          }, 1000);
        });
      }
    </script>
    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/form-validation.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".new-area").emojioneArea({
          pickerPosition: "bottom",
          filtersPosition: "bottom",
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".slider").slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          adaptiveheight: true,
        });
      });
    </script>
  </body>
</html>
