<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters-mobile is-three-quarters-tablet is-half-desktop">
    <div class="notification is-danger is-light">
      <h4 class="alert-heading"><%= err.message %></h4>
    </div>
  </div>
</div>
