<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>particle</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/particle.css" />
  </head>
  <body style="height: 100vh">
    <section class="hero is-fullheight has-text-white">
      <!-- <div class="columns is-mobile is-centered">
        <div class="column is-three-quarters-desktop is-full-mobile">
          <div class="blackbackground has-text-centered" style="background-color: #fff; display: flex; flex-direction: row">
            <div class="field" style="margin-left: 0;">
              <div class="control">
                <p class="title">Don't have an account?</p>
                <p class="subtitle">Sign Up to experince with us.
                </p>
                <button class="button" >Sign Up</button>
              </div>
            </div>
            <div class="field" style="margin-right: 0;">
              <div class="control">
                <p class="title">Have an account?</p>
                <p class="subtitle">Log in to socialize with others.</p>
                <button class="button">Log In</button>
              </div>
            </div>
          </div>
        </div>
        
      </div> -->
      <!-- login/signiup -->

      <div class="container1">
        <div class="backbox">
          <div class="loginMsg">
            <div class="textcontent">
              <p class="title" style="font-weight: bold; color: rgb(27, 27, 27)">Don't have an account?</p>
              <p>Sign up to join with us.</p>
              <button id="switch1">Sign Up</button>
            </div>
          </div>
          <div class="signupMsg visibility">
            <div class="textcontent">
              <p class="title" style="font-weight: bold; color: rgb(27, 27, 27)">Have an account?</p>
              <p>Log in to experince a better world!</p>
              <button id="switch2">LOG IN</button>
            </div>
          </div>
        </div>
        <!-- backbox -->

        <div class="frontbox">
          <div class="login">
            <h2>LOG IN</h2>
            <div class="inputbox">
              <!-- <form action="/user/login" method="POST">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input
                      class="input email-input"
                      type="text"
                      placeholder="Email input"
                      name="email"
                      id="email-input-login"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <p
                    class="help is-danger"
                    id="email-message"
                    style="display: none"
                  >
                    Please enter a valid email.
                  </p>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input
                      class="input password-input-login"
                      type="password"
                      placeholder="Password"
                      name="password"
                      id="password-input-login"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <span
                    class="help is-danger"
                    id="password-message"
                    style="display: none"
                    >Password should be at least 8 characters long with at least
                    one lowercase, one uppercase and one digit.</span
                  >
                </div>
                <div class="field">
                  <div class="control">
                    <button
                      class="button is-primary is-fullwidth"
                      type="submit"
                      id="submit-button"
                    >
                      LOGIN
                    </button>
                  </div>
                </div>
              </form> -->
            </div>
          </div>

          <div class="signup hide">
            <h2>SIGN UP</h2>
            <div class="inputbox">
              <div class="box">
                <form action="/user/signup" method="POST">
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Username</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input username-input"
                        type="text"
                        placeholder="Text input"
                        name="username"
                        id="username-input"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-exclamation-triangle"
                          id="username-icon"
                        ></i>
                      </span>
                    </div>
                    <p
                      class="help is-danger"
                      style="display: none"
                      id="username-message"
                    >
                      Please enter a valid username.
                    </p>
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input email-input"
                        type="text"
                        placeholder="Email input"
                        name="email"
                        id="email-input"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-exclamation-triangle"
                          id="email-icon"
                        ></i>
                      </span>
                    </div>
                    <p
                      class="help is-danger"
                      id="email-message"
                      style="display: none"
                    >
                      Please enter a valid email.
                    </p>
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Password</label>
                    <div class="control has-icons-left">
                      <input
                        class="input password-input"
                        type="password"
                        placeholder="Password"
                        name="password"
                        id="password-input"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <span
                      class="help is-danger"
                      id="password-message"
                      style="display: none"
                      >Password should be at least 8 characters long with at
                      least one lowercase, one uppercase and one digit.</span
                    >
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Confirm Password</label>
                    <div class="control has-icons-left">
                      <input
                        class="input password-confirm-input"
                        type="password"
                        placeholder="Confirm Password"
                        name="password_confirm"
                        id="password-confirm-input"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <span
                      class="help is-danger"
                      id="password-confirm-message"
                      style="display: none; height: auto"
                      >Passwords should match.</span
                    >
                  </div>
                  <div class="field">
                    <div class="control">
                      <button
                        class="button is-primary is-fullwidth"
                        type="submit"
                        id="submit-button"
                        disabled="true"
                      >
                        SIGN-UP
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- frontbox -->
      </div>
      <!-- login/signiup -->
    </section>

    <canvas class="background"></canvas>

    <script src="/scripts/particles.min.js"></script>
    <script>
      window.onload = function () {
        Particles.init({
          selector: ".background",
          color: "#C0C0C0",
          sizeVariations: 7,
          maxParticles: 130,
          connectParticles: true,
          responsive: [
            {
              breakpoint: 768,
              options: {
                maxParticles: 80,
              },
            },
            {
              breakpoint: 375,
              options: {
                maxParticles: 50,
              },
            },
          ],
          events: {
            onhover: {
              enable: true,
              mode: "repulse",
            },
            onclick: {
              enable: true,
              mode: "push",
            },
            resize: true,
          },
        });
      };
    </script>
    <script src="/scripts/particle-LoginSignup.js"></script>
    <script src="/scripts/signup-validation.js"></script>
  </body>
</html>
