<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <title>particle</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/particle.css" />
  </head>
  <body >
    <div class="container2 is-hidden-desktop">
      <div class="box is-desktop is-half-tablet" id="container2Box" style=" background: transparent;">
        <div class="box" id="login2" style="box-shadow: none; background: transparent;">
          <div class="signup2">
            
          <form action="/user/login" method="POST" style="margin-top: 1em;">
              <div class="field">
                  <label class="label" style="font-family:Courier New; float:left ">Email</label>
                  <div class="control has-icons-left">
                      <input class="input email-input-login" type="text" placeholder="Email input" name="email" 
                          id="email-input-login-mobile" style="border: 1px solid black;">
                      <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                      </span>
                  </div>
                  <p class="help is-danger" id="email-message-mobile" style="display: none;">Please enter a valid email.</p>
              </div>
              <div class="field">
                  <label class="label" style="font-family:Courier New; float:left ">Password</label>
                  <div class="control has-icons-left">
                      <input 
                          class="input password-input-login" 
                          type="password" 
                          placeholder="Password" 
                          name="password"
                          id="password-input-login-mobile" 
                          style="border: 1px solid black;">
                      <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <span class="help is-danger" id="password-message-mobile" style="display: none;"><p>
                    Password should be at least 8 characters long</p><p>with at least one lowercase, one uppercase and one digit.   </p></span>
              </div>
              <div class="field">
                  <div class="control">
                      <button class="button is-primary is-fullwidth" type="submit" id="login-submit-button-mobile" disabled="true">LOGIN</button>
                  </div>
              </div>
          </form>
          <div class="field mt-3">
            <strong>
              <p style="text-align: center;">or</p>
            </strong>
            <div class="control">
              <button class="button is-dark is-fullwidth" id="signup2button"> signup</button>
            </div>
          </div>
          
      </div>
        </div>
        <div class="box" id="signup2" style="box-sizing:border-box; box-shadow: none; background: transparent;">             
                <form action="/user/signup" method="POST">
                    <div class="field">
                      <label class="label" style="font-family:Courier New; float:left ">Username</label>
                      <div class="control has-icons-left has-icons-right">
                        <input
                          class="input username-input"
                          type="text"
                          placeholder="Text input"
                          name="username"
                          id="username-input-mobile"
                          style="margin-bottom: 0; border: 1px solid black;"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i
                            class="fas fa-check"
                            id="username-successIcon-mobile"
                            style="display: none;"
                          ></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i
                            class="fas fa-exclamation-triangle"
                            id="username-errorIcon-mobile"
                            style="display: none;"
                          ></i>
                        </span>
                      </div>
                      <p
                        class="help is-danger"
                        style="display: none;"
                        id="username-message-mobile"
                      >
                        Please enter a valid username.
                      </p>
                    </div>
                    <div class="field">
                      <label class="label" style="font-family:Courier New; float:left ">Email</label>
                      <div class="control has-icons-left has-icons-right">
                        <input
                          class="input email-input"
                          type="text"
                          placeholder="Email input"
                          name="email"
                          id="email-input-mobile"
                          style="margin-bottom: 0; border: 1px solid black;"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i
                            class="fas fa-check"
                            id="email-successIcon-mobile"
                            style="display: none;"
                          ></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i
                            class="fas fa-exclamation-triangle"
                            id="email-errorIcon-mobile"
                            style="display: none;"
                          ></i>
                        </span>
                      </div>
                      <p
                        class="help is-danger"
                        id="email-signup-message-mobile"
                        style="display: none"
                      >
                        Please enter a valid email.
                      </p>
                    </div>
                    <div class="field">
                      <label class="label" style="font-family:Courier New; float:left ">Password</label>
                      <div class="control has-icons-left">
                        <input
                          class="input password-input"
                          type="password"
                          placeholder="Password"
                          name="password"
                          id="password-input-mobile"
                          style="margin-bottom: 0; border: 1px solid black;"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <span
                        class="help is-danger"
                        id="password-signup-message-mobile"
                        style="display: none"
                        ><p>
                          Password should be at least 8 characters long</p><p>with at least one lowercase, one uppercase and one digit.   </p></span
                      >
                    </div>
                    <div class="field">
                      <label class="label" style="font-family:Courier New; float:left ">Confirm Password</label>
                      <div class="control has-icons-left">
                        <input
                          class="input password-confirm-input"
                          type="password"
                          placeholder="Confirm Password"
                          name="password_confirm"
                          id="password-confirm-input-mobile"
                          style="margin-bottom: 0; border: 1px solid black;"
                        />
                        <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <span
                        class="help is-danger"
                        id="password-confirm-message-mobile"
                        style="display: none; height: auto"
                        >Passwords should match.</span
                      >
                    </div>
                    <div class="field">
                      <div class="control">
                        <button
                          class="button is-primary is-fullwidth"
                          type="submit"
                          id="signup-submit-button-mobile"
                          disabled="true"
                        >
                          SIGN-UP
                        </button>
                      </div>
                    </div>
                  </form>
                  <div class="field">
                    <div class="control">
                      <strong>
                        <p style="text-align: center;">or</p>
                      </strong>
                      <button class="button is-dark is-fullwidth" id="login2button">login</button>
                    </div>
                  </div>
        </div>
      </div>
     
    </div>
    
    <div id="particles-js" style="height: 200vh;"></div>
    
    

    
    <section class="hero is-fullheight has-text-white">
     
      
      <div class="container1 is-hidden-mobile is-hidden-tablet-only">
        <div class="backbox">
          <div class="loginMsg">
            <div class="textcontent">
              <p class="title" style="font-weight: bold;font-family: sans-serif ; color: rgb(27, 27, 27)">Don't have an account?</p>
              <p style="font-weight: bold;font-family:open sans ; color: grey">Sign up to join with us.</p></br>
              <button id="switch1" class="btn from-left">𝙶𝚎𝚝 𝚂𝚝𝚊𝚛𝚝𝚎𝚍</button>
            </div>
          </div>
          <div class="signupMsg visibility">
            <div class="textcontent">
              <p class="title" style="font-weight: bold; font-family: sans-serif ;color: rgb(27, 27, 27)">Have an account?</p>
              <p style="font-weight: bold;font-family:open sans ; color: grey">Share your world with us.</p></br>
              <button id="switch2" class="btn from-right">𝙻𝙾𝙶 𝙸𝙽</button>
            </div>
          </div>
        </div>
        <!-- backbox -->

        <div class="frontbox">
          <div class="login">
            <!-- <h2>LOG IN</h2> -->
            <div class="inputbox">
              <div class="box" style="background-color: transparent  ;box-shadow: none;">
                <span class="icon" style="font-size: 5em;"><i class="fas fa-user-circle"></i></span>
                <form action="/user/login" method="POST" style="margin-top: 5em;">
                    <div class="field">
                        <label class="label" style="font-family:Courier New; float:left ">Email</label>
                        <div class="control has-icons-left">
                            <input class="input email-input-login" type="text" placeholder="Email input" name="email" 
                                id="email-input-login" style="border: 1px solid black;">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        <p class="help is-danger" id="email-message" style="display: none;">Please enter a valid email.</p>
                    </div>
                    <div class="field">
                        <label class="label" style="font-family:Courier New; float:left ">Password</label>
                        <div class="control has-icons-left">
                            <input class="input password-input-login" type="password" placeholder="Password" name="password"
                                id="password-input-login" style="border: 1px solid black;">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        <span class="help is-danger" id="password-message" style="display: none;">Password should be at
                            least 8
                            characters long with at least one lowercase, one uppercase and one digit.</span>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit" id="login-submit-button" disabled="true">LOGIN</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
          </div>

          <div class="signup hide">
            <!-- <h2>SIGN UP</h2> -->
            <div class="inputbox">
              <div class="box" style="background-color: transparent  ;box-shadow: none;">
                <form action="/user/signup" method="POST">
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Username</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input username-input"
                        type="text"
                        placeholder="Text input"
                        name="username"
                        id="username-input"
                        style="margin-bottom: 0; border: 1px solid black;"
                      />
                      <!-- style="margin-bottom: 0;outline-color:grey;  
                        outline-style:solid;" -->
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-check"
                          id="username-successIcon"
                          style="display: none;"
                        ></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-exclamation-triangle"
                          id="username-errorIcon"
                          style="display: none;"
                        ></i>
                      </span>
                    </div>
                    <p
                      class="help is-danger"
                      style="display: none;"
                      id="username-message"
                    >
                      Please enter a valid username.
                    </p>
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input
                        class="input email-input"
                        type="text"
                        placeholder="Email input"
                        name="email"
                        id="email-input"
                        style="margin-bottom: 0; border: 1px solid black;"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-check"
                          id="email-successIcon"
                          style="display: none;"
                        ></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i
                          class="fas fa-exclamation-triangle"
                          id="email-errorIcon"
                          style="display: none;"
                        ></i>
                      </span>
                    </div>
                    <p
                      class="help is-danger"
                      id="email-signup-message"
                      style="display: none"
                    >
                      Please enter a valid email.
                    </p>
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Password</label>
                    <div class="control has-icons-left">
                      <input
                        class="input password-input"
                        type="password"
                        placeholder="Password"
                        name="password"
                        id="password-input"
                        style="margin-bottom: 0; border: 1px solid black;"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <span
                      class="help is-danger"
                      id="password-signup-message"
                      style="display: none"
                      >Password should be at least 8 characters long with at
                      least one lowercase, one uppercase and one digit.</span
                    >
                  </div>
                  <div class="field">
                    <label class="label" style="font-family:Courier New; float:left ">Confirm Password</label>
                    <div class="control has-icons-left">
                      <input
                        class="input password-confirm-input"
                        type="password"
                        placeholder="Confirm Password"
                        name="password_confirm"
                        id="password-confirm-input"
                        style="margin-bottom: 0; border: 1px solid black;"
                      />
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <span
                      class="help is-danger"
                      id="password-confirm-message"
                      style="display: none; height: auto"
                      >Passwords should match.</span
                    >
                  </div>
                  <div class="field">
                    <div class="control">
                      <button
                        class="button is-primary is-fullwidth"
                        type="submit"
                        id="signup-submit-button"
                        disabled="true"
                      >
                        SIGN-UP
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- frontbox -->
      </div>
      <!-- login/signiup -->
      
    </section>

    
    <script src="/scripts/particles.js"></script>
    <script src="/scripts/particles-config.js"></script>
    <script src="/scripts/particle-LoginSignup.js"></script>
    <script src="/scripts/login-validation.js"></script>
    <script src="/scripts/signup-validation.js"></script>
    <script src="/scripts/login-validation-mobile.js"></script>
    <script src="/scripts/signup-validation-mobile.js"></script>
    <script src="/scripts/particle-mobile.js"></script>
  </body>
</html>
