<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/particle.css" />
</head>

<body>
  <div id="intro" style="display: block;">
    <div style="top:50%; left:50%; z-index: 9999; position: absolute; transform: translate(-50%, -50%);">
      <?xml version="1.0" encoding="utf-8"?>
      <svg xmlns="http://www.w3.org/2000/svg" style="margin: auto; background: rgb(0, 0, 0); display: block; shape-rendering: auto;" width="280" height="250" preserveAspectRatio="xMidYMid">
      <style type="text/css">
        text {
          text-anchor: middle; font-size: 60px; opacity: 0;
        }
      </style>
      <g style="transform-origin:140px 125px;transform:scale(1)">
      <g transform="translate(140,125)">
        <g transform="translate(0,0)"><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: -115.52px -3.38586px; animation: 1s linear 0s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M12.07-33.63L18.46-33.63L18.46-33.63Q23.67-33.63 25.20-28.95L25.20-28.95L25.20-28.95Q25.66-27.42 25.66-25.66L25.66-25.66L25.66-25.66Q25.66-18.05 18.87-17.29L18.87-17.29L18.87-17.29Q18.16-17.23 17.46-17.23L17.46-17.23L12.07-17.23L12.07-33.63zM2.34 0L17.93 0L17.93 0Q17.93-1.29 16.99-1.46L16.99-1.46L16.99-1.46Q16.70-1.52 16.41-1.52L16.41-1.52L12.07-1.52L12.07-15.53L17.23-15.53L17.23-15.53Q26.84-15.53 29.94-20.98L29.94-20.98L29.94-20.98Q31.17-23.03 31.17-25.72L31.17-25.72L31.17-25.72Q31.17-31.52 26.13-33.87L26.13-33.87L26.13-33.87Q23.44-35.16 19.69-35.16L19.69-35.16L2.34-35.16L2.34-33.63L7.03-33.63L7.03-1.52L2.34-1.52L2.34 0" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: -84.32px 1.74414px; animation: 1s linear 0.066s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M40.25-12.48L40.25-12.48L40.25-12.48Q40.25-21.56 45.23-23.55L45.23-23.55L45.23-23.55Q46.52-24.02 47.93-24.02L47.93-24.02L47.93-24.02Q54.43-24.02 55.49-15.82L55.49-15.82L55.49-15.82Q55.66-14.41 55.66-12.71L55.66-12.71L55.66-12.71Q55.66-2.87 50.27-1.17L50.27-1.17L50.27-1.17Q49.22-0.88 48.11-0.88L48.11-0.88L48.11-0.88Q42.19-0.88 40.66-7.91L40.66-7.91L40.66-7.91Q40.25-9.96 40.25-12.48zM48.11-25.49L48.11-25.49L48.11-25.49Q42.48-25.49 38.73-21.62L38.73-21.62L38.73-21.62Q35.27-18.05 35.27-12.71L35.27-12.71L35.27-12.71Q35.27-5.33 40.66-1.64L40.66-1.64L40.66-1.64Q43.95 0.59 47.93 0.59L47.93 0.59L47.93 0.59Q53.55 0.59 57.25-3.40L57.25-3.40L57.25-3.40Q60.64-7.03 60.64-12.48L60.64-12.48L60.64-12.48Q60.64-19.86 55.20-23.44L55.20-23.44L55.20-23.44Q51.97-25.49 48.11-25.49" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: -57.275px 1.56914px; animation: 1s linear 0.132s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M74.12-1.00L74.12-1.00L74.12-1.00Q78.16-1.00 79.57-3.46L79.57-3.46L79.57-3.46Q80.10-4.34 80.10-5.39L80.10-5.39L80.10-5.39Q80.10-7.85 76.52-9.61L76.52-9.61L76.52-9.61Q75.76-10.02 74.00-10.78L74.00-10.78L74.00-10.78Q69.20-12.77 67.62-14.53L67.62-14.53L67.62-14.53Q65.92-16.46 65.92-19.04L65.92-19.04L65.92-19.04Q65.92-23.09 70.37-24.73L70.37-24.73L70.37-24.73Q72.42-25.49 74.82-25.49L74.82-25.49L74.82-25.49Q78.69-25.49 81.50-23.85L81.50-23.85L81.50-23.85Q81.50-25.55 82.32-25.78L82.32-25.78L82.32-25.78Q82.68-25.84 83.09-25.84L83.09-25.84L83.09-18.52L81.56-18.52L81.56-18.52Q81.45-23.91 75.59-23.96L75.59-23.96L75.59-23.96Q71.19-23.96 70.14-21.39L70.14-21.39L70.14-21.39Q69.84-20.68 69.84-19.92L69.84-19.92L69.84-19.92Q69.84-17.40 73.48-15.64L73.48-15.64L73.48-15.64Q74.30-15.23 76.05-14.53L76.05-14.53L76.05-14.53Q80.80-12.60 82.38-10.84L82.38-10.84L82.38-10.84Q84.08-8.96 84.08-6.39L84.08-6.39L84.08-6.39Q84.08-1.64 79.04-0.06L79.04-0.06L79.04-0.06Q77.11 0.59 74.82 0.59L74.82 0.59L74.82 0.59Q70.61 0.53 67.50-1.52L67.50-1.52L67.50-1.52Q67.50 0 66.74 0.23L66.74 0.23L66.74 0.23Q66.39 0.29 65.92 0.29L65.92 0.29L65.92-8.61L67.56-8.61L67.56-8.61Q67.68-1.05 74.12-1.00" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: -35.885px -1.33586px; animation: 1s linear 0.198s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M87.60-24.90L87.60-23.44L91.70-23.44L91.70-6.91L91.70-6.91Q92.11 0.41 98.44 0.64L98.44 0.64L98.44 0.64Q103.83 0.64 105.18-5.98L105.18-5.98L105.18-5.98Q105.18-6.04 105.18-6.09L105.18-6.09L103.59-6.39L103.59-6.39Q102.13-1.52 99.32-1.11L99.32-1.11L99.32-1.11Q96.15-1.23 96.09-5.63L96.09-5.63L96.09-23.44L105.18-23.44L105.18-24.90L96.09-24.90L96.09-31.70L91.70-30.47L91.70-24.90L87.60-24.90" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: -17.605px 1.85914px; animation: 1s linear 0.264s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M107.99-10.96L107.99-13.71L121.35-13.71L121.35-10.96L107.99-10.96" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: 9.34498px -3.38086px; animation: 1s linear 0.33s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M154.10-9.20L154.10-9.20L154.10-9.20Q154.10-14.41 148.48-17.58L148.48-17.58L148.48-17.58Q147.36-18.16 141.62-20.68L141.62-20.68L141.62-20.68Q136.41-22.91 135.06-25.25L135.06-25.25L135.06-25.25Q134.36-26.54 134.36-28.01L134.36-28.01L134.36-28.01Q134.36-31.93 138.16-33.46L138.16-33.46L138.16-33.46Q139.80-34.10 141.80-34.10L141.80-34.10L141.80-34.10Q146.72-34.10 149.30-30.76L149.30-30.76L149.30-30.76Q151.00-28.48 150.94-25.20L150.94-25.20L152.70-25.20L152.70-35.45L152.70-35.45Q151.29-35.45 151.05-34.57L151.05-34.57L151.05-34.57Q150.94-34.16 150.94-33.46L150.94-33.46L150.94-33.46Q146.78-35.74 141.56-35.74L141.56-35.74L141.56-35.74Q135.23-35.74 131.72-32.23L131.72-32.23L131.72-32.23Q129.38-29.77 129.38-26.48L129.38-26.48L129.38-26.48Q129.38-21.56 134.88-18.46L134.88-18.46L134.88-18.46Q135.88-17.93 141.56-15.47L141.56-15.47L141.56-15.47Q146.84-13.13 148.24-10.72L148.24-10.72L148.24-10.72Q149.00-9.38 149.00-7.79L149.00-7.79L149.00-7.79Q149.00-3.69 145.02-1.88L145.02-1.88L145.02-1.88Q143.14-1.05 140.86-1.05L140.86-1.05L140.86-1.05Q131.89-1.17 130.90-12.01L130.90-12.01L129.14-12.01L129.14 0.12L129.14 0.12Q130.55 0.12 130.78-0.70L130.78-0.70L130.78-0.70Q130.90-1.17 130.90-2.40L130.90-2.40L130.90-2.40Q135.41 0.59 141.15 0.59L141.15 0.59L141.15 0.59Q147.89 0.59 151.58-3.05L151.58-3.05L151.58-3.05Q154.10-5.63 154.10-9.20" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: 41.66px -4.85086px; animation: 1s linear 0.396s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M170.63-1.46L170.63-1.46L167.70-1.46L167.70-14.12L167.70-14.12Q167.70-19.45 171.39-21.86L171.39-21.86L171.39-21.86Q172.91-22.85 174.55-22.85L174.55-22.85L174.55-22.85Q178.13-22.85 179.53-19.51L179.53-19.51L179.53-19.51Q180.18-17.93 180.18-16.00L180.18-16.00L180.18-4.98L180.18-4.98Q180.18-2.29 178.89-1.76L178.89-1.76L178.89-1.76Q178.07-1.46 176.07-1.46L176.07-1.46L176.07 0L188.96 0L188.96 0Q188.96-1.29 188.09-1.41L188.09-1.41L188.09-1.41Q187.85-1.46 187.50-1.46L187.50-1.46L184.57-1.46L184.57-16.00L184.57-16.00Q184.57-22.38 180.35-24.67L180.35-24.67L180.35-24.67Q178.71-25.49 176.84-25.49L176.84-25.49L176.84-25.49Q172.50-25.49 169.57-22.32L169.57-22.32L169.57-22.32Q168.34-20.98 167.70-19.28L167.70-19.28L167.70-38.09L158.91-38.09L158.91-36.62L163.30-36.62L163.30-4.98L163.30-4.98Q163.30-2.29 161.78-1.76L161.78-1.76L161.78-1.76Q160.90-1.46 158.91-1.46L158.91-1.46L158.91 0L172.09 0L172.09 0Q172.09-1.29 171.21-1.41L171.21-1.41L171.21-1.41Q170.98-1.46 170.63-1.46" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: 73.215px 1.74414px; animation: 1s linear 0.462s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M213.40 0.59L213.40 0.59L213.40 0.59Q217.91 0.59 218.38-4.86L218.38-4.86L218.38-4.86Q218.44-5.21 218.44-5.51L218.44-5.51L216.91-5.57L216.91-5.57Q216.50-1.29 214.63-1.23L214.63-1.23L214.63-1.23Q213.11-1.35 213.05-4.28L213.05-4.28L213.05-16.64L213.05-16.64Q213.05-25.02 204.67-25.49L204.67-25.49L204.67-25.49Q204.14-25.49 203.61-25.49L203.61-25.49L203.61-25.49Q197.05-25.49 194.82-22.44L194.82-22.44L194.82-22.44Q194.12-21.45 194.12-20.45L194.12-20.45L194.12-20.45Q194.12-18.63 195.82-18.34L195.82-18.34L195.82-18.34Q196.11-18.28 196.41-18.28L196.41-18.28L196.41-18.28Q197.75-18.28 198.40-19.98L198.40-19.98L198.40-19.98Q199.22-22.15 199.51-22.56L199.51-22.56L199.51-22.56Q200.63-24.02 202.97-24.02L202.97-24.02L202.97-24.02Q208.48-23.67 208.65-17.99L208.65-17.99L208.65-14.30L208.65-14.30Q194.88-14.30 192.89-8.55L192.89-8.55L192.89-8.55Q192.54-7.44 192.54-6.15L192.54-6.15L192.54-6.15Q192.54-1.70 196.46-0.06L196.46-0.06L196.46-0.06Q198.05 0.59 199.80 0.59L199.80 0.59L199.80 0.59Q204.08 0.59 207.01-2.34L207.01-2.34L207.01-2.34Q208.07-3.46 208.59-4.69L208.59-4.69L208.59-4.69Q209.30 0.53 213.40 0.59zM201.74-1.76L201.74-1.76L201.74-1.76Q198.16-1.76 197.34-5.33L197.34-5.33L197.34-5.33Q197.17-6.15 197.17-7.15L197.17-7.15L197.17-7.15Q197.17-11.07 201.68-12.13L201.68-12.13L201.68-12.13Q204.08-12.66 208.65-12.71L208.65-12.71L208.65-8.03L208.65-8.03Q207.77-3.98 204.38-2.34L204.38-2.34L204.38-2.34Q203.03-1.76 201.74-1.76" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: 98.76px 1.56914px; animation: 1s linear 0.528s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M233.61-1.46L233.61-1.46L229.39-1.46L229.39-13.13L229.39-13.13Q229.39-18.46 232.68-21.68L232.68-21.68L232.68-21.68Q233.96-22.91 234.84-22.97L234.84-22.97L234.84-22.97Q235.84-22.97 236.66-21.50L236.66-21.50L236.66-21.50Q237.60-19.86 238.42-19.63L238.42-19.63L238.42-19.63Q238.77-19.51 239.12-19.51L239.12-19.51L239.12-19.51Q240.88-19.51 241.35-21.21L241.35-21.21L241.35-21.21Q241.46-21.56 241.46-21.91L241.46-21.91L241.46-21.91Q241.46-24.55 238.77-25.14L238.77-25.14L238.77-25.14Q238.18-25.25 237.66-25.25L237.66-25.25L237.66-25.25Q234.14-25.25 231.39-22.27L231.39-22.27L231.39-22.27Q230.10-20.86 229.34-19.10L229.34-19.10L229.10-24.90L220.61-24.90L220.61-23.44L225-23.44L225-4.98L225-4.98Q225-2.29 223.48-1.76L223.48-1.76L223.48-1.76Q222.60-1.46 220.61-1.46L220.61-1.46L220.61 0L235.08 0L235.08 0Q235.08-1.29 234.20-1.41L234.20-1.41L234.20-1.41Q233.96-1.46 233.61-1.46" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g><g class="path" style="transform: matrix(1, 0, 0, 1, 0, 14.925); opacity: 0.05; transform-origin: 123.22px 1.74414px; animation: 1s linear 0.594s 1 normal forwards running float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6;"><path d="M256.35-24.02L256.35-24.02L256.35-24.02Q260.45-24.02 261.80-20.57L261.80-20.57L261.80-20.57Q262.27-19.45 262.27-18.16L262.27-18.16L262.27-18.16Q262.27-15.23 259.45-14.59L259.45-14.59L259.45-14.59Q257.99-14.30 255.29-14.36L255.29-14.36L249.08-14.53L249.08-14.53Q249.38-21.27 253.48-23.32L253.48-23.32L253.48-23.32Q254.82-24.02 256.35-24.02zM266.54-5.63L266.54-5.63L265.08-6.15L265.08-6.15Q263.03-1.70 258.46-1.11L258.46-1.11L258.46-1.11Q257.87-1.05 257.34-1.05L257.34-1.05L257.34-1.05Q251.19-1.05 249.61-8.38L249.61-8.38L249.61-8.38Q249.14-10.43 249.08-12.89L249.08-12.89L256.11-12.77L256.11-12.77Q263.26-12.66 265.31-14.12L265.31-14.12L265.31-14.12Q266.89-15.29 266.89-17.46L266.89-17.46L266.89-17.46Q266.89-21.45 262.85-23.79L262.85-23.79L262.85-23.79Q259.98-25.49 256.23-25.49L256.23-25.49L256.23-25.49Q248.91-25.49 245.74-19.39L245.74-19.39L245.74-19.39Q244.10-16.23 244.10-12.25L244.10-12.25L244.10-12.25Q244.10-4.98 249.32-1.46L249.32-1.46L249.32-1.46Q252.42 0.59 256.41 0.59L256.41 0.59L256.41 0.59Q262.73 0.59 265.72-3.98L265.72-3.98L265.72-3.98Q266.19-4.80 266.54-5.63" fill="#ffffff" stroke="none" stroke-width="none" transform="translate(-132.2750244140625,14.194137271881107)" style="fill: rgb(255, 255, 255);"></path></g></g>
      </g>
      </g>
      <style id="float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6" data-anikit="">@keyframes float-btt-in-4c3d9858-d30a-40a5-8862-a1e7a22d25d6
      {
        0% {
          animation-timing-function: cubic-bezier(0.2242,0.7499,0.3142,0.8148);
          transform: translate(0px,14.925px) rotate(0deg) scale(1,1) skewX(0deg) skewY(0deg);
          opacity: 0.05;
        }
        100% {
          transform: translate(0px,0px) rotate(0deg) scale(1,1) skewX(0deg) skewY(0deg);
          opacity: 1;
        }
      }</style></svg>
    </div>
  </div>
  <div class="extro" id="extroLogin" style="display: none;">
    <div style="top:50%; left:50%; z-index: 9999; position: absolute; transform: translate(-50%, -50%);">
        Logging you in!
    </div>
  </div>
  <!-- <div class="extro" id="extroSignUp" style="display: none;">
    <div style="top:50%; left:50%; z-index: 9999; position: absolute; transform: translate(-50%, -50%);">
        Signing Up!
    </div>
  </div> -->
  <%- include("./partials/flash") %>
  <div class="container2 is-hidden-desktop mb-3" id="mobileMainBox">

    <div class="box is-desktop is-half-tablet" id="container2Box"
      style=" background: rgba(225, 225, 225, 0.2); backdrop-filter: blur(1.5px);">

      <div class="box" id="login2" style="box-shadow: none; background: transparent; justify-content: center;">
        <span class="icon" style="font-size: 3em; margin-left: 45%;"><i class="fas fa-user-circle"></i></span>
        <div class="signup2">

          <form action="#" style="margin-top: 1em;" id="login-d-form-mobile">
            <div class="field">
              <!-- <label class="label" style="font-family:Courier New; float:left ">Email</label> -->
              <div class="control has-icons-left">
                <input class="input email-input-login" type="text" placeholder="Email input" name="email"
                  id="email-input-login-mobile" autocomplete="off">
                <span></span>
                <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <p class="help is-danger" id="email-message-mobile" style="display: none;">Please enter a valid email.</p>
              <!-- <p class="help is-danger" id="emailwrong-mobile" style="display: none;">incorrect email or password.</p> -->
            </div>
            <div class="field">
              <!-- <label class="label" style="font-family:Courier New; float:left ">Password</label> -->
              <div class="control has-icons-left">
                <input class="input password-input-login" type="password" placeholder="Password" name="password"
                  id="password-input-login-mobile">
                <span></span>
                <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <span class="help is-danger" id="password-message-mobile" style="display: none;">
                <p>Password cannot be empty.</p>
              </span>
              <p class="help is-danger" id="passwrong-mobile" style="display: none; text-align: center;">incorrect email or password.</p>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link is-fullwidth" type="submit" id="login-submit-button-mobile"
                  disabled="true">LOGIN</button>
              </div>
            </div>
          </form>
          <div class="field mt-3">
            <strong>
              <p style="text-align: center;">or</p>
            </strong>
            <div class="control">
              <button class="button is-dark is-fullwidth" id="signup2button"> signup</button>
            </div>
          </div>

        </div>
      </div>
      <div class="box" id="signup2" style="box-sizing:border-box; box-shadow: none; background: transparent;">
        <form action="/user/signup" method="POST">
          <div class="field">
            <!-- <label class="label" style="font-family:Courier New; float:left ">Username</label> -->
            <div class="control has-icons-left has-icons-right">
              <input class="input username-input" type="text" placeholder="Username input" name="username"
                id="username-input-mobile" autocomplete="off" />
              <span>
                <p class="help">
                  Username must be between 3 and 20 characters.
                </p>
              </span>
              <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                <i class="fas fa-user"></i>
              </span>
              <!-- <span class="icon is-small is-right">
                <i class="fas fa-check" id="username-successIcon-mobile"
                  style="display: none;color: rgba(0, 0, 0, 0.5);"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle" id="username-errorIcon-mobile"
                  style="display: none;color: rgba(0, 0, 0, 0.5);"></i>
              </span> -->
            </div>


          </div>
          <div class="field">
            <!-- <label class="label" style="font-family:Courier New; float:left ">Email</label> -->
            <div class="control has-icons-left has-icons-right">
              <input class="input email-input" type="text" placeholder="Email input" name="email"
                id="email-input-mobile" />
              <span></span>
              <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                <i class="fas fa-envelope"></i>
              </span>
              <!-- <span class="icon is-small is-right">
                <i class="fas fa-check" id="email-successIcon-mobile"
                  style="display: none;color: rgba(0, 0, 0, 0.5);"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle" id="email-errorIcon-mobile"
                  style="display: none;color: rgba(0, 0, 0, 0.5);"></i>
              </span> -->
            </div>
            <p class="help is-danger" id="email-signup-message-mobile" style="display: none">
              Please enter a valid email.
            </p>
             <p class="help is-danger" id="emailwrong" style="display: none;">incorrect email or password.</p>
          </div>
          <div class="field">
            <!-- <label class="label" style="font-family:Courier New; float:left ">Password</label> -->
            <div class="control has-icons-left">
              <input class="input password-input" type="password" placeholder="Password" name="password"
                id="password-input-mobile" />
              <span>
                <p class="help">
                  Password should be at least 8 characters long</p>
                <p class="help">with at least one lowercase, one uppercase and one digit. </p>
              </span>
              <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <!-- <span class="help is-danger" id="password-signup-message-mobile" style="display: none"> -->


            <!-- </span> -->
          </div>
          <div class="field">
            <!-- <label class="label" style="font-family:Courier New; float:left ">Confirm Password</label> -->
            <div class="control has-icons-left">
              <input class="input password-confirm-input" type="password" placeholder="Confirm Password"
                name="password_confirm" id="password-confirm-input-mobile" />
              <span></span>
              <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <span class="help is-danger" id="password-confirm-message-mobile"
              style="display: none; height: auto">Passwords should match.</span>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link is-fullwidth" type="submit" id="signup-submit-button-mobile"
                disabled="true">
                SIGN-UP
              </button>
            </div>
          </div>
        </form>
        <div class="field">
          <div class="control">
            <strong>
              <p style="text-align: center;">or</p>
            </strong>
            <button class="button is-dark is-fullwidth" id="login2button">login</button>
          </div>
        </div>
      </div>
    </div>

  </div>




  <section class="hero is-fullheight has-text-white">
    <div class="container mt-4" style="z-index: 100;">

    </div>
    <div class="container1 is-hidden-mobile is-hidden-tablet-only" id="PCmainBox">


      <div class="backbox">
        <div class="loginMsg">
          <div class="textcontent">
            <h1 style="font-size: 20px; color: black;text-shadow: 2px 2px 4px rgba(0,0,0,0.3);">ğ“Ÿğ“¸ğ“¼ğ“½-ğ“¢ğ“±ğ“ªğ“»ğ“®</h1>
            <p class="title"
              style="text-shadow: 1px 0.5px 3px #808080; font-weight: bold;font-family: sans-serif ; color: rgb(27, 27, 27)">
              Get Started with us.</p>
            <p style="font-weight: bold;font-family:open sans ; color: grey">Sign up to join with us.</p></br>
            <button id="switch1" class="btn from-left">ğ™¶ğšğš ğš‚ğšğšŠğš›ğšğšğš</button>
          </div>
        </div>
        <div class="signupMsg visibility">
          <div class="textcontent">
            <h1 style="font-size: 20px; color: black;text-shadow: 2px 2px 4px rgba(0,0,0,0.3);">ğ“Ÿğ“¸ğ“¼ğ“½-ğ“¢ğ“±ğ“ªğ“»ğ“®</h1>
            <p class="title"
              style="text-shadow: 1px 0.5px 3px #808080; font-weight: bold; font-family: sans-serif ;color: rgb(27, 27, 27)">
              Already a member?
            </p>
            <p style="font-weight: bold;font-family:open sans ; color: grey">Share your world with us.</p></br>
            <button id="switch2" class="btn from-right">ğ™»ğ™¾ğ™¶ ğ™¸ğ™½</button>
          </div>
        </div>
      </div>
      <!-- backbox -->

      <div class="frontbox">
        <div class="login">
          <!-- <h2>LOG IN</h2> -->
          <div class="inputbox">
            <div class="box" id="DesktopLogin" style="background-color: transparent  ;box-shadow: none;">
              <span class="icon" style="font-size: 5em;"><i class="fas fa-user-circle"></i></span>
              <form action="#" style="margin-top: 5em;" id="login-d-form">
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Email</label> -->
                  <div class="control has-icons-left">
                    <input class="input email-input-login" type="text" placeholder="Email input" name="email"
                      id="email-input-login" autocomplete="off">
                    <span></span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>

                  <p class="help is-danger" id="email-message" style="display: none;">Please enter a valid email.</p>
                  <p class="help is-danger" id="emailwrong" style="display: none;">incorrect email or password.</p>
                </div>
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Password</label> -->
                  <div class="control has-icons-left">
                    <input class="input password-input-login" type="password" placeholder="Password" name="password"
                      id="password-input-login">
                    <span></span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <p class="help is-danger" id="passwrong" style="display: none;">incorrect email or password.</p>
                  <!-- <span class="help is-danger" id="password-message" style="display: none;">Password cannot be empty.</span> -->
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-link is-fullwidth" type="submit" id="login-submit-button"
                      disabled="true">LOGIN</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="signup hide">
          <!-- <h2>SIGN UP</h2> -->
          <div class="inputbox">
            <div class="box" id="DesktopSignup" style="background-color: transparent  ;box-shadow: none;">
              <!-- <span class="icon" style="font-size: 5em;"><i class="fas fa-user-plus"></i></span> -->
              <form action="/user/signup" method="POST">
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Username</label> -->
                  <div class="control has-icons-left has-icons-right">
                    <input class="input username-input" type="text" placeholder="Text input" name="username"
                      id="username-input" autocomplete="off" />

                    <!-- style="margin-bottom: 0;outline-color:grey;  
                        outline-style:solid;" -->
                    <span id="username-message">
                      <p class="help">Username must be between 3 and 20 characters.</p>
                    </span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-user"></i>
                    </span>

                    <!-- <span class="icon is-small is-right" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-check" id="username-successIcon" style="display: none;"></i>
                    </span>
                    <span class="icon is-small is-right" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-exclamation-triangle" id="username-errorIcon" style="display: none;"></i>
                    </span> -->
                  </div>


                  <!-- <p class="help is-danger" style="display: none;" id="username-message">
                    Please enter a valid username.
                  </p> -->
                </div>
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Email</label> -->
                  <div class="control has-icons-left has-icons-right">
                    <input class="input email-input" type="text" placeholder="Email input" name="email"
                      id="email-input" />
                    <span></span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <!-- <span class="icon is-small is-right" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-check" id="email-successIcon" style="display: none;"></i>
                    </span>
                    <span class="icon is-small is-right" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-exclamation-triangle" id="email-errorIcon" style="display: none;"></i>
                    </span> -->
                  </div>
                  <p class="help is-danger" id="email-signup-message" style="display: none">
                    Please enter a valid email.
                  </p>
                </div>
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Password</label> -->
                  <div class="control has-icons-left">
                    <input class="input password-input" type="password" placeholder="Password" name="password"
                      id="password-input" />
                    <span>
                      <p class="help">Password should be at
                        least 8 characters long with at
                        least one lowercase, one uppercase and one digit.</p>
                    </span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <!-- <span class="help is-danger" id="password-signup-message" style="display: none">Password should be at
                    least 8 characters long with at
                    least one lowercase, one uppercase and one digit.</span> -->


                </div>
                <div class="field">
                  <!-- <label class="label" style="font-family:Courier New; float:left ">Confirm Password</label> -->
                  <div class="control has-icons-left">
                    <input class="input password-confirm-input" type="password" placeholder="Confirm Password"
                      name="password_confirm" id="password-confirm-input" />
                    <span></span>
                    <span class="icon is-small is-left" style="color: rgba(0, 0, 0, 0.5);">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <span class="help is-danger" id="password-confirm-message"
                    style="display: none; height: auto">Password didn't match.</span>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-link is-fullwidth" type="submit" id="signup-submit-button" disabled="true">
                      SIGN-UP
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- frontbox -->
    </div>
    <!-- login/signiup -->

  </section>
  <canvas class="background" height="4200"></canvas>

  <script>
    window.onload = function () {
      var particles = Particles.init({
        selector: '.background',
        color: ['#DA0463', '#404B69', '#DBEDF3'],
        connectParticles: 'true',
        responsive: [{
          breakpoint: 768,
          options: {
            maxParticles: 40,
          }
        }]
      });
    }
  </script>
  <script src="/scripts/particles.min.js"></script>
  <script src="/scripts/particle-LoginSignup.js"></script>
  <script src="/scripts/login-validation.js"></script>
  <script src="/scripts/signup-validation.js"></script>
  <script src="/scripts/login-validation-mobile.js"></script>
  <script src="/scripts/signup-validation-mobile.js"></script>
  <script src="/scripts/particle-mobile.js"></script>
  <script>
    $(window).on("load", function() {
      $("#intro").delay(2500).fadeOut("slow");
   })
  </script>
</body>

</html>