<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/boiler.css" />
    <link rel="stylesheet" href="/stylesheets/status.css" />
  </head>
  <body class="is-flex is-flex-direction-column" style="height: 100vh">
    <div
      class="container is-max-desktop column is-half-desktop is-three-quarters-tablet is-full-mobile"
    >
      <div class="content has-text-centered">
        <figure class="image">
          <img
            src="/assets/aqua.png"
            alt=""
            style="max-width: 50%; max-height: 50%"
          />
        </figure>
        <div class="container">
          <div class="error">404</div>
          <br /><br />
          <span class="info">Page not found</span>
        </div>
      </div>
    </div>
  </body>
</html>
