/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.modal-card {
  /* height: 740px; */
  position: relative;
}

.modal-card-body::-webkit-scrollbar {
  display: none !important;
}

.modal-card-body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.modal-card {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .modal-card,
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
  }
}

.media-content {
  overflow: hidden;
}

.navbar-item {
  margin-right: 0.5rem;
}

.navbar-item span {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

.navbar-item .icon {
  margin-right: 0.1rem;
}

.footer-icon {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

label {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

.modal-card-title {
  font-family: "Times New Roman", Times, serif !important;
  font-size: large !important;
}

input {
  font-family: "Amiri", serif !important;
  font-weight: 400 !important;
}

.card-header-title .title {
  font-family: "Amiri", serif !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.card-content .title {
  font-family: "Amiri", serif !important;
  font-weight: 600 !important;
}

.card-content .subtitle {
  font-family: "Amiri", serif !important;
  font-weight: 500 !important;
}

button {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

#dropdown-menu4 {
  background-color: hsl(0, 0%, 21%);
  border-radius: 12px;
  box-shadow: #000000;
}

#dropdown-menu4 .dropdown-content {
  background-color: hsl(0, 0%, 21%);
  border-radius: 12px;
  box-shadow: #000000;
}

#dropdown-menu4 .dropdown-item {
  background-color: hsl(0, 0%, 21%);
  color: #fff;
}

#dropdown-menu4 .dropdown-item .button {
  background-color: hsl(0, 0%, 21%);
  color: #fff;
  outline: none;
}

#dropdown-menu4 .dropdown-item button:hover {
  background-color: hsl(0, 7%, 18%);
  color: #fff;
}

.children {
  color: blueviolet;
}

.card-header {
  background-color: #f9f6f6;
  box-shadow: none;
}

.dropdown-trigger button {
  background-color: #f9f6f9;
  transition: all 3s;
}

.card-footer .control button {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
}

.card-footer .control button:hover,
button:focus,
button:active {
  border: none;
  background-color: transparent;
  color: black;
  outline: none;
}

#likes-container .control button {
  background-color: transparent;
  border-radius: 50%;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  color: #363636;
  white-space: nowrap;
  transition: all 0.3s;
}

#likes-container .control button:hover {
  border-color: #e0e0e0;
  box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
}

#likes-container .control i {
  font-size: x-large;
}

#show-header {
  background-color: #fff;
}

#show-icons button {
  background-color: #fff;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  color: #363636;
  white-space: nowrap;
  transition: all 0.3s;
}

#show-icons button:hover {
  border-color: #e0e0e0;
  box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
}

#showposticons {
  justify-content: flex-end;
  align-items: center;
}

.comment-reply {
  background-color: transparent;
  border-radius: 50%;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  color: #363636;
  white-space: nowrap;
  transition: all 0.3s;
}

.comment-reply:hover {
  border-color: #e0e0e0;
  box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
}

#edit-btns button {
  background-color: #e6e6e6;
}
#edit-btns button:hover {
  background-color: #a6a6a6;
}

#edit-btns #Edit-Btn {
  background-color: #00e6b8;
}

#edit-btns #Edit-Btn:hover {
  background-color: #00b386;
}
