

.media-content {
  overflow: hidden;
}

.navbar-item {
  margin-right: 0.5rem;
}

.navbar-item span {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

.navbar-item .icon {
  margin-right: 0.1rem;
}

.footer-icon {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

label {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

.modal-card-title {
  font-family: "Times New Roman", Times, serif !important;
  font-size: large !important;
}

input {
  font-family: "Amiri", serif !important;
  font-weight: 400 !important;
}

.card-header-title .title {
  font-family: "Amiri", serif !important;
  font-weight: 600 !important;
  font-size: 15px;
}

.card-content .title{
  font-family: "Amiri", serif !important;
  font-weight: 600 !important;
}

.card-content .subtitle{
  font-family: "Amiri", serif !important;
  font-weight: 500 !important;
}

button {
  font-family: "Times New Roman", Times, serif !important;
  font-size: medium !important;
}

#dropdown-menu4 {
  background-color: hsl(0, 0%, 21%);
}

#dropdown-menu4 .dropdown-content {
  background-color: hsl(0, 0%, 21%);
}

#dropdown-menu4 .dropdown-item {
  background-color: hsl(0, 0%, 21%);
  color: #fff;
}

#dropdown-menu4 .dropdown-item .button {
  background-color: hsl(0, 0%, 21%);
  color: #fff;
  outline: none;
}

#dropdown-menu4 .dropdown-item button:hover {
  background-color: hsl(0, 7%, 18%);
  color: #fff;
}
