#comment-card {
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: none;
}

.sr-only {
  position: absolute;
  /* left: -10000px; */
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.comment {
  position: relative;
  margin: 20px auto;
}

.comment-heading {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
  background-color: #f9f6f6;
  box-shadow: none;
}

.comment-heading-icon {
  margin-left: auto;
}

.comment-info {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}

.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
}

/* Adjustments for the comment border links */

.comment-border-link {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 10px;
  height: calc(100% - 50px);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  cursor: default;
}
.comment-border-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.comment-body {
  padding: 0 20px;
  padding-left: 28px;
}

.replies {
  margin-left: 28px;
}

.comment-body .control button {
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
}

.comment-body .control button:hover,
button:focus,
button:active {
  border: none;
  background-color: transparent;
  color: black;
  outline: none;
}

.caption {
  font-family: "Amiri", serif !important;
  font-weight: 500 !important;
}

.control button:disabled{
  color: lightgrey;
}

.control button:disabled:hover{
  color: lightgrey;
}