.profile-wrapper {
    display: grid;
    gap : 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1rem 20% 1rem 20%;
    border-bottom: 1px;
}

.profile-info {
    padding-left: 3rem;
}
.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.username {
    font-size: 2rem;
}

.bio {
    font-size: 1rem;
}

.edit-profile a{
    align-items: flex-start;
    color:#363636;
}
.text1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 14; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
@media screen and (max-width:768px) {
    .profile-wrapper {
        display: grid;
        gap : 1rem;
        grid-template-columns: 1.5fr 2fr 0.5fr;
        padding: 1rem 5% 1rem 5%;
    }

    .name {
        font-size: 1rem;
        font-weight: bold;
    }

    .username {
        font-size:1.5rem;
    }

    .bio {
        font-size: 0.75rem;
    }
    .profile-info {
        padding-left: 0.75rem;
    }
}
/* masonry */
/* fluid 5 columns */
.grid1 {
    margin: 0 auto;
    width: 100%;
}
.grid2 {
    margin: 0 auto;
    width: 100%;
}
.grid-sizer,
.grid-item { width: 33%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item--width2 { width: 33%; }

.grid-sizer2,
.grid-item2 { width: 33%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item2--width2 { width: 33%; }



@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .grid1 {
        margin: 0 auto;
        width: 80%;
    }
    .grid2 {
        margin: 0 auto;
        width: 80%;
    }
.grid-sizer,
.grid-item { width: 49%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item--width2 { width: 49%; }

.grid-sizer2,
.grid-item2 { width: 49%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item2--width2 { width: 49%; }

}

@media only screen and (max-width: 768px) {
    .grid1 {
        margin: 0 auto;
        width: 90%;
    }
    .grid2 {
        margin: 0 auto;
        width: 90%;
    }
.grid-sizer,
.grid-item { width: 100%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item--width2 { width: 100%; }

.grid-sizer2,
.grid-item2 { width: 100%;  margin-bottom: 10px; }
/* 2 columns */
.grid-item2--width2 { width: 100%; }


}