<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-half-tablet">
        <div class="box">
            <form action="/user/login" method="POST">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input email-input" type="text" placeholder="Email input" name="email"
                            id="email-input-login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <p class="help is-danger" id="email-message" style="display: none;">Please enter a valid email.</p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input password-input-login" type="password" placeholder="Password" name="password"
                            id="password-input-login">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span class="help is-danger" id="password-message" style="display: none;">Password should be at
                        least 8
                        characters long with at least one lowercase, one uppercase and one digit.</span>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" type="submit" id="submit-button">LOGIN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>