<% layout('layout/boilerplate') -%>

<div
  class="container is-max-desktop is-justify-content-center column is-half-desktop is-three-quarters-tablet is-full-mobile"
>

  <%for(var i = user.notifications.length-1; i >= 0; i--){%>
  <div
    class="message <%if(user.notifications[i].read === false){%>is-danger<%}else{%>is-info<%}%>"
    id="<%=user.notifications[i].id%>"
  >
    <div class="message-body">
      <p class="subtitle"><%-user.notifications[i].body%></p>
      <p><%=user.notifications[i].time%></p>
    </div>
  </div>
  <%}%>
</div>

<script>
  $(document).ready(function () {
    $("#nfs-icon").css("color", "black");
    $(".is-danger").on("click", function (e) {
      const id = $(this).attr("id");
      const newurl = "/user/profile/<%=user.username%>/notifications/" + id;
      $.ajax({
        type: "POST",
        url: newurl,
        dataType: "json",
        success: function (data) {
          if (data.message === "read successfully") {
            $("#" + id).removeClass("is-danger");
            $("#" + id).addClass("is-info");
          }
        },
        error: function (error) {
          alert(JSON.parse(error));
        },
      });
    });
  });
</script>
