<% layout('layout/boilerplate') -%>
<div class="columns is-mobile is-centered">
    <div class="column is-three-quarters-mobile is-half-tablet">
        <div class="box">
            <form action="/user/signup" method="POST">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success username-input" type="text" placeholder="Text input"
                            name="username" id="username-input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p class="help is-danger" style="display: none" id="username-message">Please enter a valid username.
                    </p>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-danger email-input" type="text" placeholder="Email input" name="email"
                            id="email-input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle" id="email-icon"></i>
                        </span>
                    </div>
                    <p class="help is-danger" id="email-message" style="display: none;">Please enter a valid email.</p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input password-input" type="password" placeholder="Password" name="password"
                            id="password-input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span class="help is-danger" id="password-message" style="display: none;">Password should be at
                        least 8
                        characters long with at least one lowercase, one uppercase and one digit.</span>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control has-icons-left">
                        <input class="input password-confirm-input" type="password" placeholder="Confirm Password"
                            name="password_confirm" id="password-confirm-input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <span class="help is-danger" id="password-confirm-message"
                        style="display: none;height:auto;">Passwords
                        should match.</span>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" type="submit" id="submit-button"
                            disabled="true">SIGN-UP</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>