<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/59ef493f57.js"
      crossorigin="anonymous"
    ></script>
    <title>new post</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
  </head>
  <body
    class="has-navbar-fixed-top is-flex is-flex-direction-column is-size-6 is-size-7-mobile"
    style="height: 100vh"
  >
    <%-include('../partials/newmodal')%>
    <%-include('../partials/navbar')%>
    <section>
      <main class="container" style="margin-top: 3rem"><%- body -%></main>
    </section>
    <%-include('../partials/footer')%>
  </body>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/form-validation.js"></script>
  <script src="/scripts/signup-validation.js"></script>
</html>
